{% extends '::intranet.html.twig' %}

{% block title %}Intranet Ipssi{% endblock %}

{% block body %}

    <div class="col-lg-12">
        {% block hwi_oauth_content %}
        {% endblock hwi_oauth_content %}
    </div>

{% endblock %}
