/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
devbox.box
.idea/
.vagrant/
/nbproject/private/
nbproject/
!/web/uploads/
/web/uploads/*
*~
.DS_Store
src/.DS_Store
src/Ipssi/.DS_Store
src/Ipssi/IpssiBundle/.DS_Store
src/Ipssi/IpssiBundle/Resources/.DS_Store
src/Ipssi/IpssiBundle/Resources/views/.DS_Store
src/UserBundle/.DS_Store
src/UserBundle/Resources/.DS_Store
src/UserBundle/Resources/views/.DS_Store
var/cache/
var/logs/
