{% extends 'intranet.html.twig' %}

{% block body %}
    
    <div class='col-md-8 col-md-offset-2'>
    <h1>Accueil - Intranet</h1>
    
    <a href="{{ path('intranet_news_homepage') }}">Actualités</a>
    
    </div>
    
{% endblock %}