{% extends 'intranet.html.twig' %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Pages
            <small>Modération</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{ path('intranet_homepage') }}">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Blank Page
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}



    
{% endblock %}