{% extends '::base.html.twig' %}

{% block title %}Demo Application{% endblock %}

{% block body %}


    <div class="col-md-6 col-md-offset-3">
    {% block fos_user_content %}
    
    {% endblock %}
    </div>


{% endblock %}