{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-lg-6">
            {{ form_widget(form.cvFile) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            {{ form_widget(form.save, {'label':'Sauvegarder'}) }}
        </div>
    </div>
{{ form_end(form) }}


{% block javascripts %}

    <script type="text/javascript">
        $("#ipssi_jobbundle_cv_cvFile_file").fileinput({
            theme: "fa",
            language: "fr",
            showRemove: true,
            showUpload: false,
            maxFileCount: 1,
            allowedFileTypes: ["application/pdf"]
        })
    </script>
{% endblock %}



