{% extends 'intranet.html.twig' %}

{% block title %} Actualités {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Actualités
            <small>Création</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('intranet_news_homepage') }}">Actualités</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Nouvelle actualité
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}
       
    {% include('IntranetBundle:News:form.html.twig') %}
    
{% endblock %}