{% extends 'intranet.html.twig' %}

{% block title %} Actualités {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Actualités
            <small>Modification d'une actualité</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{ path('intranet_homepage') }}">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> <a href="{{ path('intranet_news_homepage') }}">Actualités</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Edition
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {% include('IntranetBundle:News:form.html.twig') %}
    
{% endblock %}