{% extends 'intranet.html.twig' %}

{% block title %} Compte rendu d'activité {% endblock %}

{% block headerContainer %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Compte rendu d'activité
            <small>Création</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a href="{{ path('intranet_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('intranet_cra_homepage') }}">Compte rendu d'activité</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Nouveau compte rendu d'activité
            </li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {% include('IntranetBundle:UserCRA:form.html.twig') %}

{% endblock %}